<div class="banner">
  <div class="banner-content">
    <h1>Art Buddy</h1>
    <p>Enjoy exhibitions with an expert</p>
    <%= link_to "check our guides", guides_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <%= render "events/events", events: @events %>
</div>
