<div class="card">
  <img src="https://via.placeholder.com/150" alt="">
  <div class="card-body">
    <h5 class="card-title"><%= guide.full_name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <% if params[:event_id] %>
      <%= link_to "Book a session with me !", new_booking_path(guide_id: guide.id, event_id: params[:id]), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Book a session with me !", pick_event_path(guide_id: guide.id) %>
    <% end %>
  </div>
</div>
